html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

progress {
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 16px;
}

[type=checkbox],
[type=radio] {
    padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px;
    font: inherit;
}

a {
    color: inherit;
}

.item {
    width: 100%;
    height: 100%;
}

.item-name {
    font-weight: bold;
    text-align: center;
    height: 32px;
}

.item-desc {
    font-weight: normal;
    color: #2d2d2d;
    padding-left: 16px;
}

.item-desc p {
    margin: 0px;
    margin-top: 6px;
}

.no-products {
    display: table;
    margin: 0 auto;
    width: auto;
}

.no-products img {
    height: 128px;
    border-radius: 6px;
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rm-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    margin-top: 2px;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nav-btn {
    display: block;
}

.nav-btn-img {
    cursor: pointer;
    height: 100%;
    width: 52px;
    border: none;
    vertical-align: middle;
}

.scrollratebar {
    display: block;
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}


/* navbar custom */

.navbar {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid #dcdcdb;
    padding-bottom: 5px;
}

.nav {
    margin-left: 12px;
    margin-right: 12px;
}

.navbar .nav {
    flex: 2;
}

.scrollratebar::-webkit-scrollbar {
    height: 5px;
}


/* Track */

.scrollratebar::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

.scrollratebar::-webkit-scrollbar-thumb {
    background: #cccccc;
}


/* Handle on hover */

.scrollratebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-rate-item {
    display: inline-block;
    white-space: nowrap;
    margin-right: 12px;
}

.main-rate-item img {
    display: inline-block;
    height: 56px;
    vertical-align: top;
    cursor: pointer;
}

.rate-item-body {
    display: inline-block;
    margin-left: 12px;
}

.rate-item-body p {
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
}

.rate-bar {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menu-container {
    display: table;
    margin: 0 auto;
    width: 80%;
}

.menu-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-bottom: 16px;
    border-right: 1px solid #dcdcdb;
}

.menu-column-three-and-up {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
}

.menu-column-three-and-up:nth-child(4n) {
    border-right: 1px solid transparent;
}
.menu-column:last-of-type {
    border-right: 1px solid transparent;
}

.menu-column img {
    display: table;
    height: 128px;
    border-radius: 6px;
}

.menu-column a:link {
    text-decoration: none;
}

.menu-column a:visited {
    text-decoration: none;
}

.grid-container {
    display: table;
    margin: 0 auto;
    width: 80%;
}

.item-details {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 32px;
    width: auto;
    display: table;
    margin: auto auto;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.row:first-of-type {
    margin-top: 16px;
}

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-bottom: 16px;
    border-right: 1px solid #dcdcdb;
}

.column:nth-child(4n) {
    border-right: 1px solid transparent;
}

.item-img {
    vertical-align: bottom;
    display: table;
    float: left;
    height: 224px;
    border-radius: 6px;
}

table.detail {
    width: 60%;
}
div.detail {
    width: 60%;
    margin-top: 12px;
}

.item-rates {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-color: transparent;
    text-align: center;
    vertical-align: top;
    margin-top: 16px;
}

.user-img {
    border-radius: 5px;
    background: #f0505d;
    padding: 3px;
    width: 48px;
    height: 48px;
}

.user-rates {
    display: inline-block;
    width: 50%;
}

.expert-rates {
    display: inline-block;
    width: 50%;
}

.item-rates table {
    margin-bottom: 16px;
}

.item-rates td, tr, th {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    text-align: left;
}

.user-rates {
    border-right: 1px solid #dcdcdb;
}

.column a:link {
    text-decoration: none;
}

.column a:visited {
    text-decoration: none;
}

.empty {
    display: table;
    margin-top: 15%;
    padding: 16px;
    width: 224px;
    height: 224px;
    background: inherit;
    cursor: pointer;
}

.pagination {
    display: table;
    margin: 0 auto;
    margin-bottom: 32px;
    width: auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #f95463;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.empty img {
    width: 224px;
    height: 224px;
}

.stick {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.product-image-box {
    margin-top: 16px;
    width: 100%;
    min-height: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.rate-button {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 32px;
    width: 32px;
}

.rate-button-small {
    min-height: 22px;
    min-width: 22px;
    max-height: 22px;
    max-width: 22px;
}

.hrs-btn,
.hrs-button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    text-align: center;
    cursor: pointer;
    height: 52px;
    width: 52px;
}

.hrs-bar-button {
    border: none;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    height: auto;
    width: 100%;
}

.hrs-bar-item {
    padding: 8px 16px;
    white-space: normal;
    float: left;
    height: auto;
    border: none;
    display: block;
    outline: 0;
    font-size: inherit;
    text-align: left;
    width: 100%;
    cursor: pointer;
    background-color: inherit;
}

.hrs-bar-item:hover {
    background-color: #E0E0DF;
}

.hrs-bar-close {
    padding-left: 12px;
    white-space: normal;
    float: left;
    height: auto;
    border: none;
    display: block;
    outline: 0;
    font-size: 26px;
    text-align: left;
    width: 100%;
    height: 52px;
    cursor: pointer;
    background-color: #f0505d;
    color: white;
}

.hrs-bar-close:hover {
    background-color: #f95463;
}

.hrs-btn:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.hrs-btn,
.hrs-button,
.hrs-menu-button .hrs-bar-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hrs-disabled,
.hrs-btn:disabled,
.hrs-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.hrs-disabled *,
:disabled * {
    pointer-events: none;
}

.hrs-btn.hrs-disabled:hover,
.hrs-btn:disabled:hover {
    box-shadow: none;
}

.hrs-sidebar {
    display: none;
    height: 100%;
    width: 80%;
    max-width: 350px;
    background-color: #f4f4f3;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.hrs-tiny {
    font-size: 10px!important
}

.hrs-small {
    font-size: 12px!important
}

.hrs-medium {
    font-size: 15px!important
}

.hrs-large {
    font-size: 17px!important
}

.hrs-xlarge {
    font-size: 24px!important
}

.hrs-xxlarge {
    font-size: 36px!important
}

.hrs-xxxlarge {
    font-size: 48px!important
}

.hrs-jumbo {
    font-size: 64px!important
}

.hrs-teal {
    height: 52px;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
    font-size: 32px;
    margin-bottom: 16px;
}

.hrs-teal a {
    text-decoration: none;
}

.hrs-teal,
.hrs-hover-teal:hover {
    color: #fff!important;
    background-color: #f0505d!important;
}

.hrs-teal-shadow {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1366px) {
    .column {
        -ms-flex: 33.3%;
        flex: 33.3%;
        max-width: 33.3%;
    }
    .menu-container {
        width: 80%;
    }
    .grid-container {
        width: 90%;
    }
    .column:nth-child(3n) {
        border-right: 1px solid transparent;
    }
    .navbar {
        margin-left: 5%;
        margin-right: 5%;
    }
    table.detail {
        width: 60%;
    }
    div.detail {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    table.detail {
        width: 60%;
    }
    div.detail {
        width: 90%;
    }
}

@media screen and (max-width: 920px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .grid-container {
        width: 100%;
    }
    .menu-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .menu-container {
        width: 100%;
    }
    .column:nth-child(2n) {
        border-right: 1px solid transparent;
    }
    .navbar {
        margin-left: 0%;
        margin-right: 0%;
    }
    table.detail {
        width: 60%;
    }
    div.detail {
        width: 98%;
    }
}

@media screen and (max-width: 800px) {
    .item-rates {
        display: block;
    }
    .user-rates, .expert-rates {
        width: 100%
    }
}

@media screen and (max-width: 640px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        border-right: 0px solid transparent;
        border-bottom: 1px solid #dcdcdb;
    }
    .grid-container {
        width: 100%;
    }
    .menu-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        border-right: 0px solid transparent;
        border-bottom: 1px solid #dcdcdb;
    }
    .menu-container {
        width: 100%;
    }
    .navbar {
        margin-left: 0%;
        margin-right: 0%;
    }
    table.detail {
        width: 95%;
    }
    div.detail {
        width: 100%;
    }
}
