{% load staticfiles %}
{% load range %}
{% load toint %}
<!DOCTYPE html>
<html>
    <head>
        <title>HoReCa Recommender System | Recommended wines</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#f95463">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
    </head>
    <body>
        {% if contents %}
        <!-- Sidebar -->
        <div class="hrs-sidebar hrs-bar-block dynamic-size" id="mySidebar">
            <button onclick="w3_close()" class="hrs-bar-close">Close</button>
            <a href="/" class="hrs-bar-item hrs-bar-button hrs-large">Home</a>
            <a href="#" class="hrs-bar-item hrs-bar-button hrs-large">My profile</a>
            <a href="#" class="hrs-bar-item hrs-bar-button hrs-large">Log out</a>
            <a class="hrs-bar-item hrs-bar-button hrs-large" onclick="clear_session()">Clear session</a>
        </div>
        <!-- Page Header -->
        <div class="hrs-teal hrs-teal-shadow stick">
            <a href="/">HORECA</a>
            <button class="hrs-btn" style="float: left; background-image: url({% static 'images/menu.svg' %});" onclick="hrs_open()"></button>
            <button class="hrs-btn" style="float: right; background-image: url({% static 'images/user.svg' %});" onclick=""></button>
        </div>
        <!-- Page Content -->
        {% if contents|length == 0  %}
        <div class="no-products">
            <img src="{% static 'images/hrs-logo.svg' %}" alt="HoReCa">
            <p class="item-name hrs-large">There are no available products!</p>
        </div>
        {% else %}
        <div class="grid-container">
            <div class="row">
                {% for item in contents %}
                <div class="column" onclick="location.href='/detail?wine={{ item.product_id.id }}'">
                    <table class="item">
                        <tr>
                            <td class="item-name hrs-large" colspan="2">
                                {{ item.product_id.name }}
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom">
                                <img class="item-img" src="{% static 'images/' %}{{ item.product_id.photo_path }}" alt="Wine Photo">
                            </td>
                            <td class="item-desc hrs-medium" valign="top">
                                <p>Producer: <b>{{ item.product_id.vendor_id }}</b></p>
                                <p>Country: <b>{{ item.product_id.vendor_id.region_id.country_id }}</b></p>
                                <p>Region: <b>{{ item.product_id.vendor_id.region_id }}</b></p>
                                <p>Category: <b>{{ item.product_id.category_id }} Wine</b></p>
                                <p>Appellation: <b>{{ item.product_id.appellation_id }}</b></p>
                                <p>Description:<br>{{ item.product_id.description }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="pagination">
            {% if contents.has_previous %}
            <a href="?page={{ contents.previous_page_number }}">&laquo;</a>
            {% endif %}
            {% for value in contents.paginator.num_pages|range %}
            {% if contents.number is forloop.counter %}
            <a class="active" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            {% else %}
            <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            {% endif %}
            {% endfor %}
            {% if contents.has_next %}
            <a href="?page={{ contents.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </div>
        {% endif %}
        {% else %}
        <center>
            <div class="empty" onclick="window.location.reload()">
                <img src="{% static 'images/hrs-logo.svg' %}" alt="H.R.S">
                <p>Page not available!</p>
                <p>Try again later.</p>
            </div>
        </center>
        {% endif %}
        <script src="{% static 'js/shared_functions.js' %}"></script>
    </body>
</html>
