{% load staticfiles %}
{% load range %}
{% load toint %}
<!DOCTYPE html>
<html>
    <head>
        <title>HoReCa Recommender System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#f95463">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
    </head>
    <body>
        {% if contents %}
        <!-- Sidebar -->
        <div class="hrs-sidebar hrs-bar-block dynamic-size" id="mySidebar">
            <button onclick="w3_close()" class="hrs-bar-close">Close</button>
            <a href="/" class="hrs-bar-item hrs-bar-button hrs-large">Home</a>
            <a href="#" class="hrs-bar-item hrs-bar-button hrs-large">My profile</a>
            <a href="#" class="hrs-bar-item hrs-bar-button hrs-large">Log out</a>
            <a class="hrs-bar-item hrs-bar-button hrs-large" onclick="clear_session()">Clear session</a>
        </div>
        <!-- Page Header -->
        <div class="hrs-teal hrs-teal-shadow stick">
            <a href="/">HORECA</a>
            <button class="hrs-btn" style="float: left; background-image: url({% static 'images/menu.svg' %});" onclick="hrs_open()"></button>
            <button class="hrs-btn" style="float: right; background-image: url({% static 'images/user.svg' %});" onclick=""></button>
        </div>
        <!-- Page Navigation -->
        <div class="navbar">
            <div class="nav-btn" style="border-right: 1px solid #dcdcdb; padding-right: 4px;">
                {% if contents.0 == 1 and contents.1 == 0 %}
                <img class="nav-btn-img" src="{% static 'images/nav-back.svg' %}" alt="Back" onclick="location.href='/{{ contents.4 }}'">
                {% elif contents.0 == 0 and contents.1 == 1 %}
                <img class="nav-btn-img" src="{% static 'images/nav-back.svg' %}" alt="Back" onclick="location.href='/{{ contents.4 }}'">
                {% else %}
                <img class="nav-btn-img" src="{% static 'images/nav-back.svg' %}" alt="Back" onclick="location.href='/recommend-menu?category={{ contents.4 }}'">
                {% endif %}
            </div>
            <div class="nav scrollratebar">
                {% if contents.3|length != 0  %}
                {% for item in contents.3 %}
                <div class="main-rate-item">
                    <img src="{% static 'images/' %}{{ item.3 }}" alt="Wine Photo" onclick="location.href='/detail?wine={{ item.0 }}'">
                    <div class="rate-item-body" onclick="location.href='/detail?wine={{ item.0 }}'">
                        <p>{{ item.1 }}<br>{{ item.2 }}</p>
                        <div class="rate-bar">
                            {% for star in '*****' %}
                            {% if item.4|toint >= forloop.counter %}
                            <img class="rate-button-small" src="{% static 'images/star-checked.svg' %}" alt="*">
                            {% else %}
                            <img class="rate-button-small" src="{% static 'images/star.svg' %}" alt="'">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="rm-btn" style="background-image: url({% static 'images/remove.svg' %});" onclick="remove_rated({{ item.0 }})"></div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="nav-btn" style="border-left: 1px solid #dcdcdb; padding-left: 4px;">
                <img class="nav-btn-img" src="{% static 'images/recommended.svg' %}" alt="Recommend me" onclick="location.href='/get-recommended'">
            </div>
        </div>
        <!-- Page Content -->
        <div class="menu-container" id="categories-main-menu">
            <div class="row">
                {% if contents.0 == 1 %}
                {% if contents.2|length > 3 %}
                {% for category in contents.2 %}
                <div class="menu-column menu-column-three-and-up">
                    <table class="item" onclick="location.href='/recommend-menu?category={{ category.id }}'">
                        <tr>
                            <td align="center">
                                <img src="{% static 'images/' %}{{ category.name|lower }}-wine.svg" alt="{{ category.name }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="item-name hrs-xlarge">{{ category.name }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                {% else %}
                {% for category in contents.2 %}
                <div class="menu-column">
                    <table class="item" onclick="location.href='/recommend-menu?category={{ category.id }}'">
                        <tr>
                            <td align="center">
                                <img src="{% static 'images/' %}{{ category.name|lower }}-wine.svg" alt="{{ category.name }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="item-name hrs-xlarge">{{ category.name }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                {% endif %}
                {% elif contents.1 == 1 %}
                {% if contents.2|length > 3 %}
                {% for country in contents.2 %}
                <div class="menu-column menu-column-three-and-up">
                    <table class="item" onclick="location.href='/recommend-menu?country={{ country.0 }}'">
                        <tr>
                            <td align="center">
                                <img src="{% static 'images/' %}{{ country.1|lower }}.svg" alt="{{ country.1 }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="item-name hrs-xlarge">{{ country.1 }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                {% else %}
                {% for country in contents.2 %}
                <div class="menu-column">
                    <table class="item" onclick="location.href='/recommend-menu?country={{ country.0 }}'">
                        <tr>
                            <td align="center">
                                <img src="{% static 'images/' %}{{ country.name|lower }}.svg" alt="{{ country.1 }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="item-name hrs-xlarge">{{ country.1 }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                {% endif %}
                {% else %}
                {% if contents.2|length > 3 %}
                {% for vendor in contents.2 %}
                <div class="menu-column menu-column-three-and-up">
                    <table class="item" onclick="location.href='/recommend-menu?vendor={{ vendor.0 }}'">
                        <tr>
                            <td align="center">
                                <img src="{% static 'images/' %}hrs-logo.svg" alt="{{ vendor.1 }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="item-name hrs-xlarge">{{ vendor.1 }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                {% else %}
                {% for vendor in contents.2 %}
                <div class="menu-column">
                    <table class="item" onclick="location.href='/recommend-menu?vendor={{ vendor.0 }}'">
                        <tr>
                            <td align="center">
                                <img src="{% static 'images/' %}hrs-logo.svg" alt="{{ vendor.1 }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="item-name hrs-xlarge">{{ vendor.1 }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% else %}
        <center>
            <div class="empty" onclick="window.location.reload()">
                <img src="{% static 'images/hrs-logo.svg' %}" alt="H.R.S">
                <p>Page not available!</p>
                <p>Try again later.</p>
            </div>
        </center>
        {% endif %}
        <script src="{% static 'js/shared_functions.js' %}"></script>
    </body>
</html>
